<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': hero.in_battle,
                'list-group-item-danger': !hero.in_battle
              }">

  <h3>{{hero.name}} : {{heroStatus(hero.in_battle)}} <span class="float-right">Points de vie : {{ hero.life }}/{{ hero.max_life }}</span></h3>


  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Force
      <span class="badge badge-primary badge-pill">{{ hero.strengh }}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Défense
      <span class="badge badge-primary badge-pill">{{ hero.defence }}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Expérience
      <span class="badge badge-primary badge-pill">{{ hero.experience }}</span>
    </li>
  </ul>

  <button class="btn btn-sm btn-success" (click)="onCombat()">Envoyer au combat</button>
  <button class="btn btn-sm btn-primary" (click)="onRest()">Se reposer</button>

</li>